/* LIST CONTAINER */


/* LIST FILTERS */
.list-filters > select {
  border: 1px solid var(--light-navy);
  padding: 0.15em 0 0.15em 0.3em;
  margin: 0 2em 0 0.5em;
  border-radius: 4px;
  font-size: 15px;
}

/* DISPLAYED LIST */
.list-items {
  margin-top: 40px;
}
.empty-list {
  color: var(--light-navy);
  font-size: 20px;
}

/* LIST ITEM */
.list-item {
  padding: 1.5em 3em 1.5em 1.5em;
  border-bottom: 1px solid var(--clear-navy);
}
.item-logo {
  width: 12%;
}
.item-text {
  padding-left: 4%;
}
.item-name {
  padding-bottom: 9px;
  font-size: 20px;
  letter-spacing: 0.05em;
}
/* Item tags */
.item-tag {
  margin-right: 10px;
  padding: 3px 7px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.05vh;
  border: 1px solid var(--light-navy);
  border-radius: 3px;
}
/* Item flag */
.item-flag {
  font-size: 1.25em;
  cursor: pointer;
  color: var(--light-navy);
}
.item-flag:hover, .item-flag.flagged:hover {
  color: var(--mid-navy);
}
.item-flag.flagged {
  color: var(--navy);
}